[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
rope = "*"

[packages]
flask-bcrypt = "*"
flask-migrate = "*"
pyjwt = "*"
flask-script = "*"
pymysql = "*"
flask-testing = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
sentry-sdk = {extras = ["flask"],version = "==0.13.5"}
flask-restx = "*"

[requires]
python_version = "3.8"
